@import 'mixins';
@import 'animations';
@import 'main';
@import 'nav';
@import 'carousel';
@import 'map';

:root{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.hide-for-mobile{
    display: none;
}

.hide-for-desktop{
    @include breakpoint-up(desktop){
        display: none;
    }
}

.off{
    visibility: hidden;
}

.magPictures{
    margin-bottom: 1.5rem;
    > img {
        width: 100%;
    }
}

a{
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}
