@-webkit-keyframes entry {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes entry {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.entry {
  -webkit-animation: entry 800ms ease-in-out 0s 1 normal forwards;
          animation: entry 800ms ease-in-out 0s 1 normal forwards;
}

@-webkit-keyframes exit {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes exit {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.exit {
  -webkit-animation: exit 800ms ease-in-out 200ms 1 normal forwards;
          animation: exit 800ms ease-in-out 200ms 1 normal forwards;
}

.page .first-block {
  background-image: url("/assets/images/vracovore-client-remplissage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

@media (min-width: 700px) {
  .page .first-block {
    background-image: url("/assets/images/vacovore-background.jpg");
  }
}

.page .first-block__introText {
  width: 50%;
  height: 25%;
  margin: 16rem auto;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 164, 228, 0.8)), to(rgba(88, 246, 140, 0.7)));
  background: linear-gradient(to left, rgba(0, 164, 228, 0.8), rgba(88, 246, 140, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
}

@media (min-width: 700px) {
  .page .first-block__introText {
    margin: 25rem auto;
  }
}

.page .first-block__introText > h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
  .page .first-block__introText > h1 {
    font-size: 5rem;
  }
}

.page .first-block__introText > h2 {
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .page .first-block__introText > h2 {
    font-size: 2.5rem;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
  position: relative;
}

.navigation__logo {
  width: 8rem;
}

@media (min-width: 700px) {
  .navigation__logo {
    width: 10rem;
  }
}

.navigation__logo > img {
  width: 100%;
}

.navigation__links {
  width: 50%;
  height: 4rem;
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__toggle > span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.navigation__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.navigation.open .navigation__toggle > span:first-child {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation.open .navigation__toggle > span:nth-child(2) {
  opacity: 0;
}

.navigation.open .navigation__toggle > span:last-child {
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation__burger--menu {
  width: 25%;
  height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 75%;
  right: 0;
  font-size: 1.5rem;
  -webkit-box-shadow: -13px -14px 17px -20px rgba(0, 0, 0, 0.3);
          box-shadow: -13px -14px 17px -20px rgba(0, 0, 0, 0.3);
}

.carousel {
  position: relative;
  height: 200px;
  width: 80%;
  margin: 5rem auto;
}

@media (min-width: 700px) {
  .carousel {
    height: 500px;
  }
}

.carousel__images {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.carousel__track {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -3rem;
}

@media (min-width: 700px) {
  .carousel__button--left {
    left: -5rem;
  }
}

.carousel__button--right {
  right: -3rem;
}

@media (min-width: 700px) {
  .carousel__button--right {
    right: -5rem;
  }
}

.carousel__button > i {
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .carousel__button > i {
    font-size: 3rem;
  }
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 700px) {
  .info {
    margin: 3.5rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.info__where {
  font-size: 2rem;
  margin: 0 auto 1rem auto;
}

@media (min-width: 700px) {
  .info__where {
    margin: auto;
    padding-left: 25rem;
    width: calc(50% - 25rem);
  }
}

.info__imgMap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (min-width: 700px) {
  .info__imgMap {
    width: 50%;
  }
  .info__imgMap > iframe {
    width: 500px;
  }
}

.info__open {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.5rem auto;
  line-height: 3rem;
}

@media (min-width: 700px) {
  .info__open {
    margin: 3.5rem auto;
    font-size: 2.5rem;
  }
}

.info__open > p {
  font-weight: 500;
}

@media (min-width: 700px) {
  .info__open > p {
    margin-bottom: 2rem;
  }
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#00a4e4), to(#58f68c));
  background: linear-gradient(to right, #00a4e4, #58f68c);
  height: 15rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  color: white;
}

@media (min-width: 700px) {
  .footer {
    height: 20rem;
    font-size: 1.8rem;
  }
}

.footer__blockRubrique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media (min-width: 700px) {
  .footer__blockRubrique {
    margin-top: 1.5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__blockRubrique--rubrique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

.footer__blockRubrique--rubrique p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

@media (min-width: 700px) {
  .footer__blockRubrique--rubrique p:first-child {
    font-size: 2rem;
  }
}

.footer__blockRubrique--rubrique > a {
  color: white;
  margin-top: 0.8rem;
}

.footer__blockRubrique--infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__blockRubrique--infos p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

@media (min-width: 700px) {
  .footer__blockRubrique--infos p:nth-child(1) {
    font-size: 2rem;
  }
}

.footer__blockRubrique--infos > a {
  color: white;
  margin-top: 0.8rem;
}

.footer__blockContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.1rem;
}

@media (min-width: 700px) {
  .footer__blockContact {
    font-size: 2rem;
  }
}

.footer__socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  font-size: 3rem;
}

@media (min-width: 700px) {
  .footer__socialMedia {
    font-size: 5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__socialMedia--icon {
  margin: 0.8rem;
}

.product {
  width: 85%;
  margin: 1.5rem auto;
}

.product__imgContainer > img {
  width: 100%;
}

.product__infos {
  margin: 1rem 0;
  padding: 1rem 0;
  position: relative;
}

.product__infos > span {
  margin: 1rem 0;
}

.product__infos--subContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__infos--name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.product__infos--quantity {
  margin-right: 3rem;
}

.product__infos--category {
  display: inline-block;
  background-color: #58f68c;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}

.product__infos--price {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

.product__description h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

.product__description--text {
  font-size: 1.2rem;
}

.listContainer {
  width: 85%;
  margin: 1.5rem auto;
}

.listContainer__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.listContainer .categoryContainer {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 1.5rem;
  border: 1px #cecece solid;
  border-radius: 5%;
  -webkit-box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
}

.listContainer .categoryContainer__list {
  font-size: 1.3rem;
}

.listContainer .categoryContainer__list :not(li:last-child) {
  margin-bottom: 0.8rem;
}

.listContainer .productCard {
  margin-top: 2rem;
  padding: 1rem;
  display: block;
  border: 1px #cecece solid;
  border-radius: 5%;
}

.listContainer .productCard__name {
  font-size: 2rem;
  font-weight: 700;
}

.listContainer .productCard__priceKilo {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.listContainer .productCard__imgContainer {
  border-radius: 5%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.listContainer .productCard__imgContainer > img {
  width: 100%;
}

.listContainer .productCard__infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.listContainer .productCard__infos span {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.listContainer .productCard__infos--quantity {
  grid-column: span 2;
}

.listContainer .productCard__infos--price {
  font-weight: 700;
}

.listContainer .productCard__infos--category {
  -ms-grid-column-align: end;
      justify-self: end;
}

.listRecipies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
}

.listRecipies .recipiesCard {
  width: 30rem;
  margin: 1.5rem auto;
}

.listRecipies .recipiesCard__imgContainer {
  width: 100%;
}

.listRecipies .recipiesCard__imgContainer > img {
  width: 100%;
  border-radius: 5%;
}

.listRecipies .recipiesCard__title {
  width: 80%;
  height: 6rem;
  position: relative;
  margin: -40px auto 0;
  background-color: white;
  border-radius: 5%;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.listRecipies .recipiesCard__title > span {
  font-size: 1.8rem;
}

:root {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 699px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 700px) {
  .hide-for-desktop {
    display: none;
  }
}

.off {
  visibility: hidden;
}

.magPictures {
  margin: 1.5rem;
}

@media (min-width: 700px) {
  .magPictures {
    width: 80%;
    margin: auto;
  }
}

.magPictures > img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */