@-webkit-keyframes entry {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes entry {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.entry {
  -webkit-animation: entry 800ms ease-in-out 0s 1 normal forwards;
          animation: entry 800ms ease-in-out 0s 1 normal forwards;
}

@-webkit-keyframes exit {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes exit {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.exit {
  -webkit-animation: exit 800ms ease-in-out 200ms 1 normal forwards;
          animation: exit 800ms ease-in-out 200ms 1 normal forwards;
}

.page .first-block {
  background-image: url("/assets/images/vracovore-client-remplissage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

@media (min-width: 700px) {
  .page .first-block {
    background-image: url("/assets/images/vacovore-background.jpg");
  }
}

.page .first-block__introText {
  width: 50%;
  height: 25%;
  margin: 16rem auto;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 164, 228, 0.8)), to(rgba(88, 246, 140, 0.8)));
  background: linear-gradient(to left, rgba(0, 164, 228, 0.8), rgba(88, 246, 140, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
}

.page .first-block__introText > h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.page .first-block__introText > h2 {
  font-size: 1.5rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
  position: relative;
}

.navigation__logo {
  width: 8rem;
}

.navigation__logo > img {
  width: 100%;
}

.navigation__links {
  display: block;
}

.navigation__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__toggle > span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.navigation__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.navigation.open .navigation__toggle > span:first-child {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation.open .navigation__toggle > span:nth-child(2) {
  opacity: 0;
}

.navigation.open .navigation__toggle > span:last-child {
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation__burger--menu {
  width: 25%;
  height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 75%;
  right: 0;
  font-size: 1.5rem;
  -webkit-box-shadow: -13px -14px 17px -20px rgba(0, 0, 0, 0.3);
          box-shadow: -13px -14px 17px -20px rgba(0, 0, 0, 0.3);
}

:root {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.hide-for-mobile {
  display: none;
}

@media (min-width: 700px) {
  .hide-for-desktop {
    display: none;
  }
}

.off {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=styles.css.map */