.listContainer{
    width: 85%;
    margin: 1.5rem auto;

    @include breakpoint-up(desktop){
        width: 100%;
    }

    &__title{
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 3rem;
    }

    &__mainPage{

        @include breakpoint-up(desktop){
            display: flex;
            justify-content: space-between;
        }

        &--searchInput {
            width: 200px;
            margin: 2rem auto;
            > input {
                width: 200px;
                height: 30px;
            }

            @include breakpoint-up(desktop){
                margin: 0;
            position: absolute;
            left: calc(50% - 100px);
            }
        }
        .categoryContainer{
            width: 50%;
            height: fit-content;
            margin: auto;
            padding: 1.5rem;
            border: 1px rgb(206, 206, 206) solid;
            border-radius: 10px;
            box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
            
            @include breakpoint-up(desktop){
                margin: 4rem 0;
                width: 300px;
                box-sizing: border-box;
                position: sticky;
                top: 16rem;
            }
        
            &__list{
                & :not(li:last-child){
                    margin-bottom: 0.8rem;
                }
                &--element{
                    font-size: 1.3rem;
                    padding: 0.5rem;
        
                    @include breakpoint-up(desktop){
                        font-size: 1.6rem ;
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }

            } 
        }
    
        .productsContainer{
            margin-top: 3rem;
            @include breakpoint-up(desktop){
                display: flex;
                flex-wrap: wrap;
                margin: 4rem auto;
                justify-content: center;
            }
    
            .productCard{
                padding: 1rem 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px rgb(206, 206, 206) solid;
                border-radius: 5%;
                height: 35rem;
                margin: 1rem 0;
    
                @include breakpoint-up(desktop){
                    box-sizing: border-box;
                    width: 40rem;
                    margin: 1rem;
                }
        
                &__name{
                    font-size: 2rem;
                    font-weight: 700;
                }

        
                &__imgContainer{
                    border-radius: 5%;
                    overflow: hidden;
                    margin-bottom: 1rem;
        
                    >img{
                        width: 100%;
                        height: 250px;
                    }
                }

        
                &__infos{
                    display: flex;
                    justify-content: space-between;
        
                    & span{
                        margin-bottom: 1rem;
                        font-size: 1.5rem;
                    }

                    &--priceKilo{
                        font-style: italic;
                    }

                    &--category{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .selected {
        background: linear-gradient(to right, rgba(0, 164, 228, .25), rgba(88, 246, 140, .25));
        }
}



