@import 'mixins';
@import 'variables';
@import 'animations';
@import 'main';
@import 'nav';
@import 'carousel';
@import 'map';
@import 'footer';
@import 'product';
@import 'listProduct';
@import 'listRecipes';
@import 'connectForm';
@import 'dashboard';
@import 'favoriteCard';
@import 'recipe';

:root{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    @include breakpoint-up(desktop){
        max-width: 1500px;
        margin: auto;
    }
}

.hide-for-mobile{
    @include breakpoint-down(mobile){
        display: none;
    }
    
}

.hide-for-desktop{
    @include breakpoint-up(desktop){
        display: none;
    }
}

.off{
    visibility: hidden;
}

.magPictures{
    margin: 1.5rem;

    @include breakpoint-up(desktop){
        width: 70%;
        margin: auto;
    }
    > img {
        width: 100%;
    }
}

a{
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}
